body {
    background: linear-gradient(to top, #5a628f, #eaeef4);
}
/*CALCULADORA*/
.calculator-container {
  background: rgba(81, 138, 199, 0.892);
  border-radius: 25px;
  box-shadow: 6px 6px rgba(15, 24, 32, 0.193);
}

.texto-justificado {
  text-align: justify;
}

h2 {
  color: #000000ec;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #859ef3;
  border: none;
}

.btn-primary:hover {
  background-color: rgba(255, 255, 0, 0.486);
}


              /*BARRA DE NAVEGACION*/
.nav-bg {
  background-color: rgba(74, 158, 247, 0.716);
}

.navegacion-principal a:hover {
    background-color: rgb(68, 151, 227);
    color: var(--oscuro);
    border-radius: 10px;
}


              /*CONTENEDOR DE COLUMNAS */
.container {
  background: rgb(235, 240, 246);
  border-radius: 10px;
  box-shadow: 6px 6px rgba(15, 24, 32, 0.193);
}


            /*CARRUCEL*/
.carousel-item img {
  width: 100%;
  height: 400px;
  /* o la altura que desees */
  object-fit: cover;
}



            /*FORMULARIO*/
    .card-custom {
    background-color: #e7ebf5;
    border-radius: 1rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    }

    .btn-custom {
    background-color: #4a63b5;
    color: white;
    }

    .btn-custom:hover {
    background-color: #374a91;
    }

    .respuesta {
    background-color: #d9e6ff;
    border-left: 5px solid #4a63b5;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    }



